<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.hidden_field :street_details %>
  </div>

  <div class="field">
    <%= f.hidden_field :suburb %>
  </div>
  <div class="field">
    <%= f.hidden_field :city %>
  </div>
  <div class="field">
    <%= f.hidden_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
var initAF = function(){
  var widget = new AddressFinder.Widget(document.getElementById('customer_address'), '4D8V6EGHJYNPA7MUWKLB','NZ');

  widget.on("result:select", function(value /* string */, item /* object */) {
    console.log(value);
    console.log(item);

    document.getElementById('customer_street_details').value = item.postal;
    document.getElementById('customer_suburb').value = item.suburb;
    document.getElementById('customer_city').value = item.city;
    document.getElementById('customer_postcode').value = item.postcode;
  });
};

(function(f){
  var script = document.createElement('script');
  script.src = 'https://api.addressfinder.io/assets/v3/widget.js';
  script.async = true;
  script.onload = f;
  document.body.appendChild(script);
})(initAF);
</script>

